# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
node_modules/
npm-debug.log
yarn-error.log
.env

# Build output
build/
dist/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite

# Miscellaneous
*.swp
*.swo
*.tmp
Thumbs.db
